<article class="message is-dark">
  <div class="message-body">
    <div class="inline-block"><strong><%= message.user.full_name %></strong> <%= message.message_time %></div>
    <div class="block pt4">
      <div id="m1" class="f4"><%= message.body %></div>
    </div>
  </div>
</article>
