<article>
  <div class="message-body">
      <%= cl_image_tag message.user.photo, class: "user-avatar", id: "nav-user-avatar" %>
    <div class="message-container">
      <p class="time-right" id="m1">
        <%= message.user.full_name %> - <%= message.message_time %>
        <br />
        <br />
        <%= message.body %></p>
    </div>
  </div>
</article>
