<article>
  <div class="message-body">
    <div>
      <%= cl_image_tag message.user.photo, class: "user-avatar", id: "nav-user-avatar" %>
      <p><strong><%= message.user.full_name %> <%= message.message_time %></strong></p>
    </div>
    <div class="block pt4">
      <p id="m1" class="f4"><%= message.body %></p>
    </div>
  </div>
</article>
