.engagement-content {
  height: calc(100vh - 65px);
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(
                    rgba(255,255,255,0.1),
                    rgba(255,255,255,0.1)),
                    url('https://res.cloudinary.com/caitlinsnyder/image/upload/v1567435677/yellow_fullback_2_guitai.png');
  background-size: cover;
  background-position: right bottom;
  a {
    margin: 0px;
    text-decoration: none;
  }
}
  
.engagement-content-text {
  margin: auto 0 auto 10%;
  padding: 20px;
  background-color: rgba(255,255,255,0.8);
  border-radius: 6px;
}

.engagement-content-text h2 a {
  margin: 20px 0;
  color: $teal;
}

.element-tag {
  color: $teal;
  font-weight: bold;
}

.engagement-chat-text {
  display: flex;
  flex-direction: column;
}





.engagement-text {
  margin: 20px 0 0 0;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.engagement-text .teal-button {
  margin: 0px;
  text-align: center;
}

.mission {
  font-style: italic;
}


// RESPONSIVENESS
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 768px) {
  .engagement-banner {
    width: 100vw
  }
  .engagement-content {
    width: 100vw
  }
}
// Medium devices (tablets, 768px and up)
@media (min-width: 769px) and (max-width: 991px) {
  .engagement-banner {
    width: 100vw
  }
  .engagement-content {
    width: 100vw
  }
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px) {
  .engagement-banner {
    width: 50vw
  }
  .engagement-content {
    width: 50vw
  }

}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .engagement-banner {
    width: 50vw
  }
  .engagement-content {
    width: 50vw
  }
}
