.engagement-header {
  margin: 0 40px 40px 0;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border-bottom: 5px solid $marigold;
}

.engagement-type {
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.engagement-accordion-item {
  margin: 10px 0 0px 0;
  cursor: pointer;
  text-align: right;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  border-right: $marigold 3px solid;
}

.engagement-accordion-content {
  margin: -25px 20px 20px 0;
  background-color: white;
  overflow: hidden;
}

// see components/_dashboard.scss for rest of .engage-bookend-item
.engage-bookend-item {
  border-right: $marigold 0px solid;
}

.no-engagements {
  margin: 10px 0 0px 0;
  padding: 3px 20px 70px 0;
  font-size: 14px;
  color: rgba(120,120,120, 1);
  text-align: right;
  font-style: italic;
  outline: none;
  border-right: $marigold 3px solid;
}

.engagement-tag {
  color: $teal;
  font-weight: bold;
}

.engagement-data {
  padding: 0px 0 15px 0;
  color: rgba(120,120,120, 1);
}

.engagement-tag, .engagement-data  {
  font-size: 14px;
  text-align: right;
}

// .engagement-content {
//   min-height: calc(100vh - 65px);
//   display: flex;
//   flex-direction: column;
//   background-image: linear-gradient(
//                     rgba(255,255,255,0.1),
//                     rgba(255,255,255,0.1)),
//                     url('https://res.cloudinary.com/caitlinsnyder/image/upload/v1567435677/yellow_fullback_2_guitai.png');
//   background-size: cover;
//   background-position: right bottom;
//   a {
//     margin: 0px;
//     text-decoration: none;
//   }
// }
//
// .engagement-content-text {
//   margin: 20vh 10% auto 10%;
//   padding: 40px 20px;
//   min-height: 55vh;
//   background-color: rgba(255,255,255,0.8);
//   border-radius: 6px;
//   text-align: left;
// }
//
// .engagement-content-text h2 a {
//   margin: 20px 0;
//   color: $teal;
// }
//

//
// .engagement-banner {
//   height: calc(100vh - 65px);
//   display: flex;
//   flex-direction: column;
//   background-size: cover;
//   background-position: center;
//   border-left: rgba(80,80,80,0.5) solid 5px;
// }
//
// .engagement-chat-text {
//   margin: 20vh 10% auto 10%;
//   padding: 40px 20px;
//   min-height: 55vh;
//   background-color: rgba(255,255,255,0.8);
//   border-radius: 6px;
//   display: flex;
//   flex-direction: column;
// }
//
// .engagement-card-header {
//   margin: 0 0 10px 0;
//   display: flex;
//   align-items: baseline;
//   justify-content: space-between;
//   border-bottom: 1px rgba(80,80,80, 0.2) solid;
// }
//
// .engagement-card-header h2 {
//   margin: 0;
//   padding: 0 0 10px 0;
//   text-align: center;
//   color: $teal;
// }
//
// .engagement-card-header p {
//   margin: 0;
//   font-weight: lighter;
//   color: $light-gray;
//   font-style: italic;
// }
//
// .engagement-content-text .teal-button {
//   margin: 10px 0 0 0px;
//   text-align: center;
// }
//
// .mission {
//   font-style: italic;
// }
//
//
