body {
  padding-top: 65px;
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 5em;
  font-family: Montsserat, sans-serif;
}

.full-container {
  margin: 0px auto;
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: white;
}

.section-container {
  margin-bottom: 40px;
  padding: 30px auto;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.call-to-action-container {
  background-image: url(https://res.cloudinary.com/caitlinsnyder/image/upload/v1567086072/action_bnrmyg.png);
  background-position: center;
  width: 700px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.call-to-action-content {
  background: white;
  padding : 18px 18px;
  border-radius: 4px;
  width: 400px;
  -webkit-box-shadow:2px 5px 16px 0px grey, 5px 5px 6px 3px rgba(250,250,250,0);
  box-shadow:2px 5px 16px 0px grey, 5px 5px 6px 3px rgba(250,250,250,0);
}
