<!-- CAN THIS BE DELETED?
<div class="modal-container" id="modal-signup-window">

  <div class="modal-container-header">
    <button class="button-close-modal" id="modal-signup-close">Close</button>
  </div>

  <div class="modal-content-container">
    <h3>Sign up</h3>
    <%#= render "shared/devise_partials/sign_up_popup" %>
  </div>

</div> -->
