
<div class="dash-buttons-container">

  <!-- DASHBOARD BUTTONS HERE -->
  <div class="dash-buttons-group">
    <div class="dashboard-welcome-items">
    <div class="dashboard-welcome"><%= current_user.first_name.upcase %>'S DASHBOARD</div>
<div class="dashboard-img"></div>
  </div>
    <div class="dash-button" data-target="profile" id="dash-profile-button">
      PROFILE
    </div>

    <% if @user.group == "ngo" %>
      <div class="dash-button" data-target="projects" id="dash-projects-button">
        MY PROJECTS
      </div>
    <% end %>

    <div class="dash-button" data-target="engagements" id="dash-engagements-button">
      ENGAGEMENTS
    </div>

    <div class="dash-button" data-target="messages" id="dash-messages-button">
      MESSAGES
    </div>

    <div class="dash-button" data-target="settings" id="dash-settings-button">
      SETTINGS
    </div>

  <div class="white-logo-dash">DevForGood</div>
  </div>
</div>

