<div class="dash-buttons-container">

  <!-- DASHBOARD BUTTONS HERE -->
  <div class="dash-buttons-group">

    <div class="dash-button" data-target="profile" id="dash-profile-button">
      PROFILE
    </div>

    <% if @user.group == "ngo" %>
      <div class="dash-button" data-target="my_projects" id="dash-projects-button">
        MY PROJECTS
      </div>
    <% end %>

    <div class="dash-button" data-target="engagements" id="dash-engagements-button">
      ENGAGEMENTS
    </div>

    <div class="dash-button" data-target="messages" id="dash-messages-button">
      MESSAGES
    </div>

    <div class="dash-button" data-target="settings" id="dash-settings-button">
      SETTINGS
    </div>

  </div>




    <!-- <div class="search-input-group"> -->

      <!-- <div class="nav-search-item"> -->

        <!-- KEYWORD SEARCH -->
        <!-- <div class="search-label">KEYWORDS:</div> -->
          <%#= form_tag("/home", method: "get", class: "") do %>
            <!-- <div class="search-box"> -->
              <%#= text_field_tag :query, params[:query],
                            class: "nav-search-field ",
                            placeholder: "Find your next project" %>
              <%#= button_tag(type: "search", class: "btn btn-default") do %>
                <!-- <i class="fa fa-search white-icon"></i> -->
              <%# end %>
            <!-- </div> -->
          <%# end %>
        <!-- </div> -->
    <!-- </div> -->

</div>
