<div class="card-engagement">
  <h5 class="card-engagement-title">Project name</h5>
  <p class="card-engagement-description">Learn how to easily customize and modify your app’s design to fit your
  brand across all mobile platform styles.</p>
  <a href="/" class="btn-project">Project info <i class="fas fa-chevron-right"></i></a>
</div>
<div class="card-engagement">
 <h5 class="card-engagement-title">Project name</h5>
  <p class="card-engagement-description">Learn how to easily customize and modify your app’s design to fit your
  brand across all mobile platform styles.</p>
  <a href="/" class="btn-project">Project info <i class="fas fa-chevron-right"></i></a>
</div>
