<!-- ACTIVE ENGAGEMENTS -->
<div class="engagement-header">
  <div class="engagement-header-text">
   <!--  <img src="https://res.cloudinary.com/caitlinsnyder/image/upload/v1567695053/assignment2_lkixgn.png" align="left"> -->
    <div class="user-card-header">Active engagements</div>
  </div>
</div>

<div class="dash-content-card dash-engagement-type">
  <% if @user.my_active_engagements.nil? %>
    <div class="no-engagements general-text">You have no active engagements at this time.</div>
  <% else %>
    <% @user.my_active_engagements.each do |engagement| %>
      <!-- A SINGLE ENGAGEMENT -->
      <%= render 'shared/cards/engagements/engage_card', engagement: engagement %>
    <% end %>
  <% end %>
</div>

<!-- PENDING ENGAGEMENTS -->
<div class="engagement-header">
<div class="engagement-header-text">
  <div class="user-card-header">Pending engagements</div>
</div>
</div>

<div class="dash-content-card dash-engagement-type">
  <% if @user.my_pending_engagements.nil? %>
    <div class="no-engagements general-text">You have no pending engagements at this time.</div>
  <% else %>
    <% @user.my_pending_engagements.each do |engagement| %>
      <!-- A SINGLE ENGAGEMENT -->
      <%= render 'shared/cards/engagements/engage_card', engagement: engagement %>
    <% end %>
  <% end %>
</div>

<!-- ARCHIVED ENGAGEMENTS -->
<div class="engagement-header">
  <div class="engagement-header-text">
    <div class="user-card-header">Completed engagements</div>
  </div>
</div>

<div class="dash-content-card dash-engagement-type">
  <% if @user.my_archived_engagements.nil? %>
    <div class="no-engagements general-text">You have no archived engagements at this time.</div>
  <% else %>
    <% @user.my_archived_engagements.each do |engagement| %>
      <!-- A SINGLE ENGAGEMENT -->
      <%= render 'shared/cards/engagements/engage_card', engagement: engagement %>
    <% end %>
  <% end %>
</div>

<!-- REJECTED ENGAGEMENTS -->
<div class="engagement-header">
  <div class="engagement-header-text">
    <div class="user-card-header">Declined engagements</div>
  </div>
</div>

<div class="dash-content-card dash-engagement-type">
  <% if @user.my_rejected_engagements.nil? %>
    <div class="no-engagements general-text">You have no declined engagements at this time.</div>
  <% else %>
    <% @user.my_rejected_engagements.each do |engagement| %>
      <!-- A SINGLE ENGAGEMENT -->
      <%= render 'shared/cards/engagements/engage_card', engagement: engagement %>
    <% end %>
  <% end %>
</div>
