<!-- CREATE NEW PROJECT -->
<div class="dash-content-card">
    <a href="#" class="teal-button" id="modal-projectNew-button">+ New Project</a>
    <%= render "shared/devise_partials/modal_project_new", project: Project.new %>
</div>

<!-- ACTIVE PROJECTS -->
<div class="engagement-header">
  <div class="engagement-header-text">
    <div class="user-card-header">Active projects</div>
  </div>
</div>

<div class="dash-content-card dash-engagement-type">
  <% if @user.projects.nil? %>
    <div class="no-engagements">You have no active projects at this time.</div>
  <% else %>
    <% @user.projects.each do |project| %>
      <!-- A SINGLE PROJECT -->
      <%= render 'shared/cards/project_card', project: project %>
    <% end %>
  <% end %>
</div>


<!-- COMPLETED PROJECTS -->
<div class="engagement-header">
  <div class="engagement-header-text">
    <div class="user-card-header">Completed projects</div>
  </div>
</div>

<div class="dash-content-card dash-engagement-type">
  <% if @user.my_archived_projects.nil? %>
    <div class="no-engagements">You have no completed projects at this time.</div>
  <% else %>
    <% @user.my_archived_projects.each do |project| %>
      <!-- A SINGLE PROJECT -->
      <%= render 'shared/cards/project_card', project: project %>
    <% end %>
  <% end %>
</div>
