<div class="section-container">
  <div class="teal-button">
    <%= link_to "+ New Project", new_project_path, class: "nav-link" %>
  </div>
  <h2>Your projects:</h2>
  <div class="cards-project" >
    <% current_user.projects.order(updated_at: :desc).each do |project| %>
      <%= render 'shared/cards/project_card', project: project %>
    <% end %>
  </div>
</div>
