<div class="banner-background" id="landing-banner">
  <div class="banner-text">
    <h1>DevForGood</h1>
      <h2><span class="highlight">Work on projects that matter.</span></h2>
      <div class="py-2">
        <% unless current_user.present? %>
             <a href="#signup" class="yellow-button" data-toggle="modal">Sign Up</a>
        <% end %>
     </div>
  </div>
</div>
