<div class="banner-background" id="landing-banner">
  <div class="banner-text">
    <h1>DevForGood</h1>
      <h2><span class="highlight">Work on projects that matter.</span></h2>
      <div class="py-2">
        <% unless current_user.present? %>
          <%= link_to 'Sign Up', new_user_registration_path, :class => " btn btn-primary btn-rounded text-white btn-lg"%>
        <% end %>
     </div>
  </div>
</div>
