<div class="banner-background mid-banner">
  <div class="banner-text">
    <img src="https://res.cloudinary.com/caitlinsnyder/image/upload/v1567522794/18771_i0egja.jpg" alt="">
    <h1>
      Contribute <strong>whenever</strong>, <strong>however</strong> you can
  </h1>
  </div>
</div>
