<div class="banner-background mid-banner">
  <div class="banner-text">
    <img src="https://res.cloudinary.com/caitlinsnyder/image/upload/v1567522794/18771_i0egja.jpg" alt="">
    <div class="mid-banner-title">
      Contribute <b>whenever</b>, <b>however</b> you can
  </div>
  </div>
</div>
