<div class="banner-background mid-banner" id="end-banner">
  <div class="banner-text">
    <h1>
      <strong>Cultivate</strong>&nbsp; your community, watch your skills <strong>grow</strong>&nbsp;
    </h1>
  </div>
</div>
