<div id="nav-convo-block">
  <i class="far fa-comment-dots" id="convo-icon"></i>
  <div id="convo-menu">
    <div class="nav-menu-link"><%= link_to "hi", users_path, class: "nav-link" %></div>
  </div>
</div>

