<div id="nav-hamburger-block">
  <i class="fas fa-briefcase" id="hamburger-icon"></i>
  <div id="hamburger-menu">
    <div class="nav-menu-link"><%= link_to "Devs", users_path, class: "nav-link" %></div>
    <div class="nav-menu-link"><%= link_to "Projects", projects_path, class: "nav-link" %></div>
    <div class="nav-menu-link"><%= link_to "NGOs", organizations_path, class: "nav-link" %></div>
  </div>
</div>
