<%= cl_image_tag "avatar_blank_hmbgqy.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
<div id="notification-menu" class="dropdown-menu dropdown-menu-right hidden" aria-labelledby="navbarDropdown">

</div>
