<div class="major-left-side-bar">
  <!-- Hamburger nav button, click to open -->
  <i class="fas fa-bars" id="hamburger-nav"></i>

  <!--start modal-->
  <div class="modal-nav-container" id="modal-nav-window" style="display:none;">
    <div class="close-nav">
      <button class="click-to-close">X Close </button>
    </div>
     <div class="modal-nav-content">
        <div class="nav-links">search projects</div>
        <div class="nav-links">archived projects</div>
        <div class="nav-links">browse NGOs</div>
        <div class="nav-links">dashboard</div>

     </div>

  </div>
  <!-- end modal -->


</div>
