<!--start modal-->
 <div class="modal-form-container" id="modal-apply-window-<%#= project.id %>" style="z-index: 100; display: none;" >

   <div class="modal-form-content-container">
     <div class="modal-form-delimiter">

       <h3>Apply</h3>
       <%= render "shared/devise_partials/form_to_project_apply", project: project, engagement: engagement %>

     </div>
   </div>

 </div>
<!-- end modal
