<div class="modal-container" id="modal-projectNew-window" style="z-index: 100" >

  <div class="modal-content-container">
    <!-- Body -->
    <%= render "shared/devise_partials/form_to_project_new", project: project %>
    <div class="cancel-center"><button class="form-button cancel-btn" id="project-new-close">
      Cancel
    </button></div>
  </div>
</div>
