<!--start modal-->
 <div class="modal-container" id="modal-login-window" style="display: none;">

   <div class="modal-content-container">
     <!-- Body -->
     <h3>Log In</h3>
     <%= render "shared/devise_partials/form_to_login" %>
   </div>

 </div>
<!-- end modal -->
