<!--start modal-->
 <div class="modal-container" id="modal-projectApply-window_<%= project.id %>" style="z-index: 100" >

   <div class="modal-content-container">
     <!-- Body -->
     <h3>Apply</h3>
     <%= render "shared/devise_partials/form_to_project_apply", project: project, engagement: engagement %>
   </div>

 </div>
<!-- end modal -->
