<!--start modal-->
 <div class="modal-container" id="modal-signup-window" style="display: none;">

   <div class="modal-content-container">
     <!-- Body -->
     <div class="general-title">Sign up</div>
     <%= render "shared/devise_partials/form_to_sign_up" %>
   </div>

 </div>
<!-- end modal -->
