<!--start modal-->
 <div class="modal-container" id="modal-signup-window">

   <div class="modal-content-container">
     <!-- Body -->
     <h3>Sign up</h3>
     <%= render "shared/devise_partials/form_to_sign_up" %>
   </div>

 </div>
<!-- end modal -->
