<!--start modal-->
 <div class="modal-container" id="modal-engagementEdit-window_<%= engagement.id %>" style="z-index: 100, display:none;" >

   <div class="modal-content-container">
    <!-- Body -->
    <h3>Edit</h3>
    <%= render "shared/devise_partials/form_to_engagement_edit", engagement: engagement %>
    <button class="yellow-button form-button" id="engagement-edit-close" data-target='<%= engagement.id %>'>
      Cancel
    </button>
   </div>



 </div>
<!-- end modal -->


