<!--start modal-->
 <div class="modal-container" id="modal-engagementEdit-window_<%= engagement.id %>" style="z-index: 1, display:none;" >

   <div class="modal-content-container">
    <!-- Body -->
    <div class="general-title">Edit</div>
    <%= render "shared/devise_partials/form_to_engagement_edit", engagement: engagement %>
    <div class="cancel-center"><button class="form-button cancel-btn" id="engagement-edit-close" data-target='<%= engagement.id %>'>
      Cancel
    </button></div>
   </div>



 </div>
<!-- end modal -->


