<div class="subsection-title">Meet our Devs</div>
<div class="section-container">
  <div class="row" >
    <% @users.each do |user| %>
      <% if user.group == "developer" %>
        <div class="card-project mb-3 mr-1 ml-1">
          <img class="avatar-large" alt="avatar-large" src="<%= user.photo %>" />
          <div class="card-project-infos">
            <h2><%= link_to user.first_name, user_path(user) %></h2>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
