<div class="container d-flex justify-content-around py-5">
  <div class="row">
    <% @users.each do |user| %>
      <div class="card-product mb-3 mr-1 ml-1">
        <img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />
        <div class="card-product-infos">
          <h2><%= link_to user.first_name, user_path(user) %></h2>
        </div>
      </div>
    <% end %>
  </div>
</div>
