<div class="project-container" >
  <div class="cards-project">
    <% current_user.projects.each do |project| %>
      <%= render 'shared/cards/project_card', project: project %>
    <% end %>
  </div>
</div>
