<% if @user.group == "developer" %>
  <%= render 'shared/dashboards/dev_dashboard', user: @user %>

<% elsif @user.group == "ngo" %>
  <div class="section-container">
    <div class="dash-container">
      <%= render 'shared/dashboards/ngo_dashboard', user: @user %>
    </div>
  </div>
<% else %>
  Dashboards are not currently enabled for <%= @user.group %>s.
<% end %>
