<div class="container d-flex justify-content-around py-5">
  <div class="row">
   <!-- Card Wider -->
    <div class="col-sm ">
      <div class="card card-cascade wider">
          <!-- Card image -->
        <div class="view view-cascade overlay text-center py-3">
            <img  class="card-img-top " src="https://image.flaticon.com/icons/svg/23/23247.svg" alt="Card image cap" style="width: 75px; height: 75px">
              <a href="#!">
                <div class="mask rgba-white-slight"></div>
              </a>
        </div>
          <!-- Card content -->
          <div class="card-body card-body-cascade text-center">
            <!-- Title -->
            <h3 class="card-title">Build your Portfolio as a Jr. Developer</h3>
            <!-- Subtitle -->
            <!-- Text -->
            <p class="card-text">As a freshly minted Jr. Developer, you’re hungry for work and need that extra big of experience to amp up your project portfolio.</p>
          </div>
        </div>
      </div>

    <div class="col-sm">
       <!-- Card Wider -->
      <div class="card card-cascade wider overlay text-center">
        <!-- Card image -->
        <div class="view view-cascade overlay text-center py-3">
          <img  class="card-img-top" src="https://image.flaticon.com/icons/svg/2061/2061362.svg" alt="Card image cap" style="width: 75px; height: 75px">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!-- Card content -->
        <div class="card-body card-body-cascade text-center">
          <!-- Title -->
          <h3 class="card-title">Help NGOs with their technical needs!</h3>
          <!-- Text -->
          <p class="card-text">NGOs often do not have the resources needed to hire a developer for their needs but still need a way to solve their technical problems.</p>
        </div>
      </div>
   </div>

    <div class="col-sm">
   <!-- Card Wider -->
      <div class="card card-cascade wider overlay text-center">
        <!-- Card image -->
        <div class="view view-cascade overlay text-center py-3">
          <img  class="card-img-top" src="https://image.flaticon.com/icons/svg/675/675510.svg" alt="Card image cap" style="width: 75px; height: 75px">
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
        </div>
        <!-- Card content -->
        <div class="card-body card-body-cascade text-center">
          <!-- Title -->
          <h3 class="card-title">Everyone working together to be better.</h3>
          <!-- Text -->
          <p class="card-text">  We hope that everyone involved improves in some way. Be it adding to your project portfolio or having a brand new webpage. </p>
        </div>
      </div>
    </div>
  </div>
</div>

