<div class="section-container">
  <div class="section-heading">
    <div class="subsection-title">Recent projects for good</div>
  </div>
  <div class="cards-project">
    <% @projects.first(6).each do |project| %>
      <%= render 'shared/project_card', project: project %>
    <% end %>
  </div>
</div>
