


<div class="container">
  <div class="row">
   <!-- Card Wider -->
    <div class="col-sm">
      <div style="width: 300px; height: 400px" class="card card-cascade wider">
          <!-- Card image -->
        <div class="view view-cascade overlay text-center">
            <img  class="card-img-top " src="https://image.flaticon.com/icons/svg/23/23247.svg" alt="Card image cap" style="width: 100px; height: 100px">
              <a href="#!">
                <div class="mask rgba-white-slight"></div>
              </a>
        </div>
          <!-- Card content -->
          <div class="card-body card-body-cascade text-center">
            <!-- Title -->
            <h4 class="card-title"><strong>Alison Belmont</strong></h4>
            <!-- Subtitle -->
            <h5 class="blue-text pb-2"><strong>Graffiti Artist</strong></h5>
            <!-- Text -->
            <p class="card-text">Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem aperiam. </p>
          </div>
        </div>
      </div>

    <div class="col-sm">
       <!-- Card Wider -->
      <div style="width: 300px; height: 400px;" class="card card-cascade wider">

        <!-- Card image -->
        <div class="rounded-circle">
          <img  class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/photo6.jpg" alt="Card image cap">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!-- Card content -->
        <div class="card-body card-body-cascade text-center">
          <!-- Title -->
          <h4 class="card-title"><strong>Alison Belmont</strong></h4>
          <!-- Subtitle -->
          <h5 class="blue-text pb-2"><strong>Graffiti Artist</strong></h5>
          <!-- Text -->
          <p class="card-text">Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem aperiam. </p>
        </div>
      </div>
   </div>

    <div class="col-sm">
   <!-- Card Wider -->
      <div style="width: 300px; height: 400px;" class="card card-cascade wider">
        <!-- Card image -->
        <div class="view view-cascade overlay">
          <img  class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/photo6.jpg" alt="Card image cap">
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
        </div>
        <!-- Card content -->
        <div class="card-body card-body-cascade text-center">
          <!-- Title -->
          <h4 class="card-title"><strong>Alison Belmont</strong></h4>
          <!-- Subtitle -->
          <h5 class="blue-text pb-2"><strong>Graffiti Artist</strong></h5>
          <!-- Text -->
          <p class="card-text">Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem aperiam. </p>
        </div>
      </div>
    </div>
  </div>
</div>

