<div class="home-section-container">
  <div class="section-heading">
    <div class="subsection-title">Meaningful partnerships</div>
  </div>
</div>
<div class="container d-flex justify-content-around my-5" >
  <div class="cards">
    <% @projects.first(6).each do |project| %>
      <%= render 'shared/project_card', project: project %>
    <% end %>
  </div>
</div>
