<% @organizations.each do |organization| %>
  <div class="col-sm card-deck mb-3">
    <div class="card card-cascade wider">
        <!-- Card image -->
      <div class="view view-cascade overlay text-center py-3">
          <img  class="card-img-top " src="<%= organization.logo %>" alt="Card image cap" style="width: 100px">
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
      </div>
        <!-- Card content -->
      <div class="card-body card-body-cascade text-center">
        <!-- Title -->
        <h3 class="card-title"><%= organization.name %></h3>
        <!-- Subtitle -->
        <!-- Text -->
        <p class="card-text"><%= organization.mission %></p>
      </div>
    </div>
  </div>
<% end %>

