<% @organizations.each do |organization| %>
  <div class="col-sm-3 mb-3">
    <%= link_to organization_path(organization) do %>
        <div class="card card-cascade wider" style="height: 300px">
            <!-- Card image -->
          <div class="view view-cascade overlay text-center py-3">
              <img  class="card-img-top " src="<%= organization.logo %>" alt="Card image cap" style="width: 100px">
          </div>
            <!-- Card content -->
          <div class="card-body card-body-cascade text-center">
            <!-- Title -->
            <h3 class="card-title"><%= organization.name %></h3>
            <!-- Subtitle -->
            <!-- Text -->
            <p class="card-text"><%= organization.mission %></p>
          </div>
        </div>
    <% end %>
  </div>
<% end %>
