<div class="org-card test">
  <div class="org-card-content">
    <!-- Org logo -->
    <img  class="org-card-img" src="<%= organization.logo %>" alt="organization logo">

    <!-- Org mission -->
    <p class="org-card-text"><%= organization.mission %></p>
  </div>
</div>
