<div class="cards">
  <div class="card-product">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
    <div class="card-product-infos">
      <h2>Project name</h2>
      <p>Project description with <strong>relevant info</strong> only.</p>
    </div>
  </div>

  <div class="card-product">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
    <div class="card-product-infos">
      <h2>Project name</h2>
      <p>Project description with <strong>relevant info</strong> only.</p>
    </div>
  </div>

  <div class="card-product">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
    <div class="card-product-infos">
      <h2>Project name</h2>
      <p>Project description with <strong>relevant info</strong> only.</p>
    </div>
  </div>

  <div class="card-product">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
    <div class="card-product-infos">
      <h2>Project name</h2>
      <p>Project description with <strong>relevant info</strong> only.</p>
    </div>
  </div>

  <div class="card-product">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
    <div class="card-product-infos">
      <h2>Project name</h2>
      <p>Project description with <strong>relevant info</strong> only.</p>
    </div>
  </div>

  <div class="card-product">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
    <div class="card-product-infos">
      <h2>Project name</h2>
      <p>Project description with <strong>relevant info</strong> only.</p>
    </div>
  </div>
</div>
