<div class="major-container">
  <div class="major-navigation">
    <div class="nav-title"><%= @organization.name %></div>
    <div class="nav-subtitle">Our mission</div>
    <p><%= @organization.mission %></p>
  </div>
  <div class="major-white-panel">
    <div class="major-card">
      <div class="major-card-content">
        <div class="major-card-content-box">
          <h3>Topic 1</h3>
          <p>Topic details</p>
        </div>
        <div class="major-card-content-box">
          <h3>Topic 1</h3>
          <p>Topic details</p>
        </div>
      </div>
      <div class="major-side-bar"></div>
    </div>
  </div>
</div>
