@import "show";
@import "map";

.orgs-panel {
  padding: 70px 0px 0px 0px;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  background-image:
    linear-gradient(rgba(255,255,255,0.6),
    rgba(255,255,255,0.6)),
    url(https://res.cloudinary.com/caitlinsnyder/image/upload/v1567275331/image_ej5f2s.png);
  background-size: 150%;
  background-position: center;
  background-repeat: no-repeat;
}

.orgs-panel h3 {
  margin: 0 auto;
  padding: 0px 0 10px 0;
  text-align: center;
}




// RESPONSIVENESS
// Smallest device
@media (max-width: 575px) {
  #map {
    width: 100vw;
  }
  .org-cards {
    width: 100vw;
    grid-template-columns: 1fr;
  }
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  #map {
    width: 100vw;
  }
  .org-cards {
    width: 100vw;
    grid-template-columns: 1fr;
  }
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  #map {
    width: 100vw;
  }
  .org-cards {
    width: 100vw;
    grid-template-columns: 1fr 1fr;
  }
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .split-index-container {
    font-size: 55px;
    flex-direction: row;
  }
  #map {
    width: 50vw;
  }
  .org-cards {
    width: 50vw;
    grid-template-columns: 1fr 1fr;
  }
}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  #map {
    width: 50vw;
  }
  .org-cards {
    width: 50vw;
    grid-template-columns: 1fr 1fr;
  }
}
