@import "show";
@import "map";

.orgs-index-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: top;
}

.orgs-panel {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  align-items: top;
}
