#organization-banner {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg');
}

.organization-banner p {
  font-size: 17px;
  line-height: 10px;
  font-style: italic;
  font-weight:normal;
  padding: 0;
}

.organization-container {
  margin: 0px auto;
  padding: 20px 0 0 0;
  text-align: center;
}
