@import "dev_cards";
@import "project_cards";
@import "value_cards";
@import "org_cards";


$pcard-box-shadow: 1px 1px 1px rgba(200, 200, 200, 0.3);
$box-shadow: 4px 4px 0px rgba(200, 200, 200, 0.3);
$border-radius: 6px;
