@import "dev_cards";
@import "project_cards";
@import "value_cards";
@import "org_cards";

$card-box-shad-color: rgba(200, 200, 200, 0.3);
$card-box-shad-v: 4px;
$card-box-shad-h: 4px;

$box-shadow: $card-box-shad-h $card-box-shad-v 0px $card-box-shad-color;
$border-radius: 6px;
