.org-cards {
  margin: 0px 0 0 0px;
  padding: 40px 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.org-card {
  margin: auto;
  padding: 0px;
  background-color: white;
  height: 280px;
  width: 250px;
  box-shadow: $box-shadow;
  border-radius: 10px;
}

.org-card-content {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  align-items: top;
}

.org-card-content img {
  margin: 25px 5px 25px 5px;
  padding: 0px;
  height: 100px;
  object-fit: contain;
}

.org-card-content p {
  line-height: 1.8;
  padding: 0 5px 0 5px;
  font-size: 16px;
  color:rgb(100,100,100);
  text-align: center;

  &:hover {
    color: rgb(140,140,140);
    font-weight: bold;
  }
}
