
.section-container.projects {
  padding-bottom:0;
}

.cards-project {
  margin: 0;
  padding: 0px 0 40px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 24px;
  flex-wrap: wrap;
}

.card-project {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: $box-shadow;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.card-project img {
  margin: 5px;
  padding: 0 0 0 5px;
  width: 100px;
  object-fit: cover;
}

.card-project .card-project-infos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  padding: 10px 25px 16px 15px;
  height: 100px;
  color: rgba(80,80,80,1);
}

.card-project h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 5px 0;
  flex-grow:0;
}

.card-project p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin:0;
  flex-grow:1;
}


// Smallest device
@media (max-width: 575px) {
  .cards-project {
    grid-template-columns: 1fr;
  }
  .card-project {
    width: 450px;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards-project {
    grid-template-columns: 1fr;
  }
  .card-project {
    width: 470px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards-project {
    grid-template-columns: 1fr;
  }
  .card-project {
    width: 500px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards-project {
    grid-template-columns: 1fr 1fr;
  }
  .card-project {
    width: 470px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .project-cards {
    grid-template-columns: 1fr 1fr;
  }
  .card-project {
    width: 550px;
  }
}
