.home-value-cards {
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  grid-gap: 100px;
  flex-wrap: wrap;
}

.home-value-card {
  margin: 0;
  padding: 20px 30px;
  height: 350px;
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  box-shadow: $box-shadow;
  border-radius: 10px;
}

.home-value-card-img {
  height: 120px;
}

.home-value-card img {
  margin: 5px 0 15px 0;
  height: 120px;
  width: 120px;
}

.home-value-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.home-value-card-content h3 {
  font-weight: 400;
  text-align: left;
  padding-bottom: 20px;
  color: black;
}

.home-value-card-content p {
  font-size: 12px;
  text-align: left;
}


@media(max-width: 768px) {
  .home-value-cards {
    grid-template-columns: 1fr;
  }
  .home-project-cards {
    grid-template-columns: 1fr;
  }
}

@media(max-width: 992px) {
  .home-value-cards {
    grid-template-columns: 1fr;
  }
  .home-project-cards {
    grid-template-columns: 1fr;
  }
}
