
<div class="search-results" display="none">

    <div class="major-card-content-box">
      <div class="general-title">SEARCH RESULTS</div>
      <div class="cards-project">
        <% if @results_projects.nil? %>

        <% elsif @results_projects.empty? %>
          No results 
        <% else %>
          <% @results_projects.each do |result| %>
            <%= render 'shared/cards/project_card', project: result %>
          <% end %>
        <% end %>
      </div>
    </div>


</div>
