<div class="major-container">
  <!-- SPACING -->
  <%= render 'shared/menus/side_menu' %>

  <div class="major-nav-fixed">
    <div class="major-navigation">

      <!-- SEARCH PANEL -->
      <%= render 'pages/nav_search' %>

    </div>
    <div class="major-mid-bar">
      <!-- <div id="map"
        data-markers="<%#= @markers.to_json %>"
        data-mapbox-api-key="<%#= ENV['MAPBOX_API_KEY'] %>">
      </div> -->
    </div>
  </div>

  <div class="major-white-panel">
    <div class="major-card search-results-height">
      <!-- PAGE CONTENT -->
      <div class="major-card-content search-results-height">

        <!-- PROJECTS THAT USER SHOULD SEE ON FIRST LOAD -->
        <% if @results_organizations.nil? && @results_projects.nil? %>
          <%= render 'pages/default_projects' %>

        <!-- PROJECTS THAT USER SHOULD SEE ON SEARCH RESULTS -->
        <% else %>
          <%= render 'pages/search' %>
        <% end %>

    </div>

      <!-- SPACING -->
      <div class="major-right-side-bar"></div>
    </div>
  </div>
</div>
