<%= render 'shared/homebanner' %>
<%= render 'shared/bannercards' %>
<%= render 'shared/midbanner' %>
<div class="container d-flex justify-content-around my-5" >
  <div class="cards">
    <% @card_num = 6 %>
    <%= render 'shared/projectCards' %>
  </div>
</div>
