  <% @results.each do |result| %>
<div class="container d-flex justify-content- py-5">
  <div class="row">

    <div class="card-search">
      <div class="card-body">
        <h5 class="card-title"><%= result.searchable.name %></h5>
          <p class="card-text"><%= result.searchable.mission %></p>
            <a class="card-link">More about this NGO</a>
            <a class="card-link">Current projects</a>
        </div>
      </div>

</div>
</div>
 <% end %>
