<div class="subsection-title text-center mt-4">Discover our exiting projects!</div>
<div class="section-container">
  <div class="cards-project" >
    <% @projects.each do |project| %>
      <%= render 'shared/cards/project_card', project: project %>
    <% end %>
  </div>
</div>
