<% @card_num = @projects.count %>
<!--
<% @projects.each do |project| %>
  <%= link_to project.id, project_path(project) %>
  <p><%= project.description %></p>
  <p><%= project.organization.name %></p>
<% end %>
-->
