<div class="projeccontainer d-flex justify-content-around my-5" >
  <div class="cards">
    <% @projects.each do |project| %>
      <%= render 'shared/project_card', project: project %>
    <% end %>
  </div>
</div>
