<% @title = "DevForGood - Projects" %>
<div class="section-container">
  <h2>Discover our exiting projects!</h2>
  <div class="cards-project" >
    <% @projects.each do |project| %>
      <%= render 'shared/cards/project_card', project: project %>
    <% end %>
  </div>
</div>
