<div class="project-banner">
  <div class="banner-text">
    <h1><%= link_to @organization.name, organization_path(@organization) %></h1>
    <p><%= @organization.mission %></p>
    <p><%#= @project.description %></p>
    <%= link_to "Apply Now", new_project_engagement_path(params[:id]), class: "btn btn-primary" %>
  </div>
</div>
