@import "landing_banner";
@import "mid_banner";

.banner-background {
  padding: 10% 8%;
  height: calc(.75vh * .10vw);
  background-size: cover;
  background-position: center;
}

.banner-text {
  margin: 0;
  text-align: left;
  font-size: 45px;
  color: rgb(255,255,255);
}

.banner-text h1 {
  letter-spacing: 2px;
  text-shadow: 2px 2px 2px rgba(80,80,80,.5);
  font-size: .8em;
  font-weight: bold;
  padding: 5px 0 7px 0;
}

.minor-banner h1 {
  font-size: .59em;
}

.banner-text h2 {
  letter-spacing: 2px;
  text-shadow: 2px 2px 2px rgba(80,80,80,.5);
  font-size: .30em;
  font-weight: bold;
  padding: 5px 0 7px 0;
}

.banner-text p {
  font-size: .25em;
  color: white;
  opacity: .8;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .banner-text {
    font-size: 45px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .banner-text {
    font-size: 65px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .banner-text {
    font-size: 75px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .banner-text {
    font-size: 85px;
  }
}
