@import "landing_banner";
@import "mid_banner";

.banner-background {
  padding: 20% 15%;
  height: calc(.40vh * .10vw);
  background-size: cover;
  background-position: 0% 50%;
}

// BANNER TEXT BLOCKS -- STANDARD
.banner-text {
  margin: 0;
  font-size: 45px;
}

.banner-text h1 {
  letter-spacing: 2px;
  font-size: .8em;
  padding: 5px 0 7px 0;
  color: black;
}

.banner-text h2 {
  padding: 5px 0 7px 0;
  letter-spacing: 2px;
  font-size: .30em;
  font-weight: 400;
  text-align:center;
  color: #2e2d2d;
  background-color: transparent;
}
// BANNER BUTON SIGNUP
.signup-calltoaction{
display: flex;
justify-content: center;
}

// BANNER TEXT BLOCKS -- MINOR BANNERS
.minor-banner h1 {
  font-size: .59em;
}

.minor-banner h2 {
  color: white;
  font-style: italic;
  font-size: .3em;
  text-shadow: $text-shadow-dark;
}

.banner-text p {
  font-size: .25em;
  color: white;
  opacity: .8;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

// RESPONSIVENESS
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .banner-text {
    font-size: 45px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .banner-text {
    font-size: 65px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .banner-text {
    font-size: 75px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .banner-text {
    font-size: 85px;
  }
}
