#landing-banner {
  margin: 0px 0 0px 0;
  background-image: url('https://res.cloudinary.com/caitlinsnyder/image/upload/v1567111571/export_1_ygcvxa.png');
  position: relative;
  background-repeat: no-repeat;
  text-align: center;
}

#landing-banner h1 {
  padding: 0 0 10px 0;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 1em;
}

// NOT USED FOR THE MOMENT
.highlight {
  color: $deep-gray;
  background-color: white;
  padding: 3px 7px;
}

// STYLING FOR POPUP-SIGNUP/LOGIN (MODALS)
.modal-content  {
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    border-radius: 10px !important;
}
