#landing-banner {
  margin: 0px 0 20px 0;
  background-image:
    linear-gradient(rgba(0,0,0,0.1),
    rgba(0,0,0,0.1)),
    url('https://images.unsplash.com/photo-1492546643178-96d64f3fd824?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80');
  position: relative;
}

#landing-banner h1 {
  padding: 0 0 10px 0;
  color: white;
  letter-spacing: 3px;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.6);
  font-weight: bold;
  font-size: 1em;
}

.highlight {
  color: rgb(80,80,80);
  background-color: white;
  padding: 3px 7px;
}
