#landing-banner {
  margin: 0px 0 0px 0;
  background-image: url(https://res.cloudinary.com/caitlinsnyder/image/upload/v1567111571/export_1_ygcvxa.png);
  position: relative;
  background-repeat: no-repeat;
  text-align: center;
}


.landing-banner-title {
  padding: 0 0 10px 0;
  letter-spacing: 5px;
  font-weight: 600;
  font-size:60px;
  color: #333D51;
}

.landing-banner-subtitle {
  padding: 0px 0 7px 0;
  letter-spacing: 2px;
  font-size: .30em;
  font-weight: 300;
  text-align:center;
  color: #2e2d2d;
  background-color: transparent;
}

// NOT USED FOR THE MOMENT
.highlight {
  color: $deep-gray;
  background-color: white;
  padding: 3px 7px;
}

// STYLING FOR POPUP-SIGNUP/LOGIN (MODALS)
.modal-content  {
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    border-radius: 10px !important;
}
