
.mid-banner .banner-text {
  background-color:white;
  display: flex;
  justify-content: space-evenly;
}

.banner-background.mid-banner{
  background-color: white;
  padding: 12% 0 5% 0;
}

.banner-background.mid-banner img {
  display: inline-block;
  vertical-align: top;
  width: 46%;
  float: left;
  align-self: flex-start;
  border-radius: 10px;
}

.mid-banner-title {
  font-weight:100;
  line-height: 1.5;
  width: 20%;
  padding: 50px 0;
  font-size: 60px;
}


.mid-banner strong {
  font-size: 1em;
}
