<div class="engagement-accordion-item">

  <div class="card-engage">
    <div class="engage-bookend-item">

      <div class="engagement-tag" style="font-size: 18px;">
        <%= engagement.project.organization.name %> - <%= engagement.project.title %>
      </div>

      <div class="card-description"><%= engagement.project.description %></div>

    </div>
  </div>

  <div class="engagement-accordion-content" style="display: none;">
    <%= render 'shared/cards/engagements/engage_card_content', engagement: engagement %>
  </div>

</div>
