<!-- LOGIN POPUP -->
<div id="login" class="modal fade">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <!-- X-out -->
      <div class="modal-footer modal-footer--mine">
        <button type="button" class="btn btn-default" data-dismiss="modal">X</button>
      </div>




      <!-- Body -->

      <%= render "shared/devise_partials/login_popup" %>




    </div>
  </div>
</div>
