<div id="myModal" class="modal fade">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <!-- Header -->
      <div class="modal-header">

      </div>

      <!-- Body -->


      <%= render "shared/devise_partials/login_popup" %>



      <!-- Footer -->
      <div class="modal-footer modal-footer--mine">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
