<%= link_to user_path(user) do %>
  <div class="card-dev">
    <!-- Card image -->
    <% cl_image_tag user.photo %>
    <img src="<%= user.photo %>">
    <!-- Card content -->
    <div class="card-dev-content">
      <!-- Title -->
      <h3><%= user.full_name %></h3>
    </div>
  </div>
<% end %>
