<%#= link_to user_path(user) do %>
  <div class="card-dev">
    <!-- Card image -->
    <% user.photo %>
    <img src="<%= user.photo %>">
    <!-- Card content -->
    <div class="card-dev-content">
      <!-- Title -->
      <div class="card-dev-name"><%= user.full_name %></div>
    </div>
  </div>
<%# end %>
