<div class="section-container">
  <div class="section-heading">
    <h2>Grow, share and help</h2>
  </div>


  <div class="home-value-cards">

    <!-- CARD ONE -->
    <div class="home-value-card">
      <!-- Card image -->
    <img src="https://image.flaticon.com/icons/svg/1197/1197511.svg" alt="img">

      <!-- Card content -->
      <div class="home-value-card-content">
        <!-- Title -->
        <h3>Build your portfolio as a Jr. Developer</h3>
        <!-- Text -->
        <p>As a freshly minted Jr. Developer, you’re hungry for work and need that extra big of experience to amp up your project portfolio.</p>
      </div>
    </div>
    <!-- END CARD ONE -->

    <!-- CARD TWO -->
    <div class="home-value-card">
      <!-- Card image -->
   <img src="https://image.flaticon.com/icons/svg/2061/2061404.svg" alt="img">
      <!-- Card content -->
      <div class="home-value-card-content">
        <!-- Title -->
        <h3>Leverage your skills to help NGOs</h3>
        <!-- Text -->
        <p>NGOs often do not have the resources needed to hire a developer for their needs but still need a way to solve their technical problems.</p>
      </div>
    </div>
    <!-- END CARD TWO -->

    <!-- CARD THREE -->
    <div class="home-value-card">
      <!-- Card image -->
  <img src="https://image.flaticon.com/icons/svg/1946/1946039.svg" alt="img">
      <!-- Card content -->
      <div class="home-value-card-content">
        <!-- Title -->
        <h3>Demonstrate your passion for learning</h3>
        <!-- Text -->
        <p>We hope that everyone involved improves in some way, be it adding to your project portfolio or having a brand new webpage.</p>
      </div>
    </div>
    <!-- END CARD THREE -->

  </div>
</div>
