<div class="section-container">
  <div class="section-heading">
    <div class="homepage-title">Grow, share and help</div>
  </div>


  <div class="home-value-cards">

    <!-- CARD ONE -->
    <div class="home-value-card">
      <!-- Card image -->
    <img src="https://image.flaticon.com/icons/svg/1197/1197511.svg" alt="img">
      <!-- Card content -->
      <div class="home-value-card-content">
        <!-- Title -->
        <div class="value-card-title">Build your portfolio as a Jr. Developer</div>
        <!-- Text -->
        <div class="value-card-text">As a freshly minted Jr. Developer, you’re hungry for work and need that extra big of experience to amp up your project portfolio.</div>
      </div>
    </div>
    <!-- END CARD ONE -->

    <!-- CARD TWO -->
    <div class="home-value-card">
      <!-- Card image -->
   <img src="https://image.flaticon.com/icons/svg/2061/2061404.svg" alt="img">
      <!-- Card content -->
      <div class="home-value-card-content">
        <!-- Title -->
        <div class="value-card-title">Leverage your skills to help NGOs</div>
        <!-- Text -->
        <div class="value-card-text">NGOs often do not have the resources needed to hire a developer for their needs but still need a way to solve their technical problems.</div>
      </div>
    </div>
    <!-- END CARD TWO -->

    <!-- CARD THREE -->
    <div class="home-value-card">
      <!-- Card image -->
  <img src="https://image.flaticon.com/icons/svg/1946/1946039.svg" alt="img">
      <!-- Card content -->
      <div class="home-value-card-content">
        <!-- Title -->
        <div class="value-card-title">Demonstrate your passion for learning</div>
        <!-- Text -->
        <div class="value-card-text">We hope that everyone involved improves in some way, be it adding to your project portfolio or having a brand new webpage.</div>
      </div>
    </div>
    <!-- END CARD THREE -->

  </div>
</div>
