<div class="section-container">
  <div class="section-heading">
    <h2>Recent projects for good</h2>
  </div>
  <div class="cards-project">
    <% @projects.first(6).each do |project| %>
      <%= render 'shared/cards/project_card', project: project %>
    <% end %>
  </div>
</div>
