
<!-- Org Name -->
<div class="popup-name"><%= organization.name %></div>
<!-- Org mission -->
<div class="popup-mission"><%= organization.mission %></div>
<!-- Org address -->
<div class="popup-address"><%= organization.address %></div>
