<div class="org-card">
  <div class="org-card-content">
    <!-- Org logo -->
    <img  class="org-card-img" src="<%= organization.logo %>" alt="organization logo">
    <!-- Org Name -->
    <p class="org-card-test"> <%= organization.name %> </p>
    <!-- Org mission -->
    <p class="org-card-text"><%= organization.mission %></p>
  </div>
</div>
