<div class="apply-accordion-item">
  <div class="apply-accordion-content" style="display: none;">

    Application form here

  </div>


  <div class="apply-button">
    <%= link_to "Apply Now", new_project_engagement_path(params[:id]), class: "teal-button" %>
  </div>
</div>
