<div class="project-accordion-item">
  <div class="card-project">
    <img src="<%= project.organization.logo %>"/>
    <div class="card-project-infos">
      <h2><%= project.title %></h2>
      <p><strong><%= project.description %></strong></p>
    </div>
  </div>
  <div class="project-accordion-content" style="display: none;">
    FIX FORM RENDER HERE
    <%= render 'shared/cards/project_card_content', project: project %>
  </div>
</div>
