// .project-banner {
//   padding: 150px 0;
//   background-size: cover;
//   background-position: center;
//   border-right: rgba(80,80,80,0.5) solid 5px;
// }

.project-content {
  padding: 10px;
  a {
    margin: 0px;
    text-decoration: none;
  }
}

.project-content h2 a {
  margin: 20px 0;
  color: $teal;
}

.project-text {
  margin: 20px 0 0 0;
  padding: 0 0 20px 0;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.project-text .teal-button {
  margin: 10px 0 0 0px;
  text-align: center;
}
//
// // RESPONSIVENESS
// // Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) and (max-width: 768px) {
//   .project-banner {
//     width: 100vw
//   }
//   .project-content {
//     width: 100vw
//   }
// }
// // Medium devices (tablets, 768px and up)
// @media (min-width: 769px) and (max-width: 991px) {
//   .project-banner {
//     width: 100vw
//   }
//   .project-content {
//     width: 100vw
//   }
// }
// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) and (max-width: 1199px) {
//   .project-banner {
//     width: 50vw
//   }
//   .project-content {
//     width: 50vw
//   }
//
// }
// // Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) {
//   .project-banner {
//     width: 50vw
//   }
//   .project-content {
//     width: 50vw
//   }
// }
