.landing-banner {
  margin: 0px 0 20px 0;
  padding: 70px 0 0 0;
  background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url('https://images.unsplash.com/photo-1492546643178-96d64f3fd824?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80');
  background-size: cover;
  background-position: center;
  height: 500px;
  position: relative;
}

.landing-banner .banner-text {
  margin: 0;
  padding: 100px 0 0 65px;
  text-align: left;
}

.landing-banner h1 {
  padding: 0 0 10px 0;
  color: white;
  letter-spacing: 3px;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.6);
  font-weight: bold;
  font-size: 85px;
}

.highlight {
  background-color: white;
  padding: 3px 7px;
}

.banner-text h2 {
  color: rgb(80,80,80);
  letter-spacing: 2px;
  text-shadow: 2px 2px 2px rgba(80,80,80,.1);
  font-size: 30px;
  font-weight: bold;
  padding: 5px 0 7px 0;
}

.banner-text p {
  font-size: 20px;
  color: white;
  opacity: .8;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.mid-banner {
  margin: 30px 0 40px 0;
  background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('https://images.unsplash.com/photo-1484807352052-23338990c6c6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80');
  background-size: cover;
  background-position: center;
  height: 70vh;
}

.mid-banner h1 {
  margin: 60px 0;
  padding: 180px 0 0 50px;
  color: white;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.6);
  font-size: 60px;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 1.4;
  text-align: left;
}

.mid-banner strong {
  font-style: italic;
  font-size: 70px;
}

.mid-title {
  padding: 20px 0 0 0;
  text-align: center;
}

.mid-title h2 {
  color: rgb(70,70,70);
  letter-spacing: 2px;
  text-shadow: 2px 2px 2px rgba(80,80,80,.1);
  font-size: 35px;
  font-weight: bold;
  padding: 5px 0 7px 0;
}

#about {
  position: absolute;
  bottom: 48px;
  right: 0;
}






// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .landing-banner h1 {
    padding: 0 0 10px 0;
    letter-spacing: 3px;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.6);
    font-size: 85px;
  }
  .highlight {
    padding: 3px 7px;
  }
  .banner-text h2 {
    letter-spacing: 2px;
    font-size: 30px;
    padding: 5px 0 7px 0;
  }
  .mid-banner .banner-text h2 {
    font-size: 70px;
  }
  .mid-banner strong {
    font-size: 70px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .landing-banner h1 {
    padding: 0 0 10px 0;
    letter-spacing: 3px;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.6);
    font-size: 85px;
  }
  .highlight {
    padding: 3px 7px;
  }
  .banner-text h2 {
    letter-spacing: 2px;
    font-size: 30px;
    padding: 5px 0 7px 0;
  }
  .mid-banner .banner-text h2 {
    font-size: 70px;
  }
  .mid-banner .banner-text strong {
    font-size: 70px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .mid-banner strong {
    font-size: 70px;
  }
  .landing-banner h1 {
    padding: 0 0 10px 0;
    letter-spacing: 3px;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.6);
    font-size: 85px;
  }
  .highlight {
    padding: 3px 7px;
  }
  .banner-text h2 {
    letter-spacing: 2px;
    font-size: 30px;
    padding: 5px 0 7px 0;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .mid-banner strong {
    font-size: 70px;
  }
  .landing-banner h1 {
    padding: 0 0 10px 0;
    letter-spacing: 3px;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.6);
    font-size: 85px;
  }
  .highlight {
    padding: 3px 7px;
  }
  .banner-text h2 {
    letter-spacing: 2px;
    font-size: 30px;
    padding: 5px 0 7px 0;
  }
}
