/* ***********************PRIMARY BTN *******************/
.btnlogin {
   margin-left: 10px ;
  padding : 15px 35px;
  border-radius: 4px;
  background-color: $teal;
  -webkit-transition: background-color 400ms ease, opacity 400ms ease,color 400ms ease;
  transition: background-color 400ms ease, opcaity 400ms ease, color 400ms ease;
  color: #fff;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 2px;
  text-decoration:none;
  text-transform: uppercase;
  font-family: Montsserat, sans-serif;
  font-weight: 100;
}

.btnlogin:hover{
  background-color: #32343a;
  color: #fff;
  font-weight: 100;
  text-decoration: none;
}

/* ***********************SECONDARY BTN *******************/
.btnsignup{
  margin-left: 10px ;
  padding : 15px 35px;
  border-radius: 4px;
  background-color: $marigold;
  -webkit-transition: background-color 400ms ease, opacity 400ms ease,color 400ms ease;
  transition: background-color 400ms ease, opcaity 400ms ease, color 400ms ease;
  color: black;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 2px;
  text-decoration:none;
  text-transform: uppercase;
  font-family: Montsserat, sans-serif;
  font-weight: lighter;
}

.btnsignup:hover{
  background-color: $dark-gray;
  color: #fff;
  font-weight: lighter;
  text-decoration: none;
}
