.dash-buttons-container {
  margin: 0 auto;
  padding: 0 40px 15px 0px;
  width: 30vw;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

.dash-button {
  margin: 5px 5px 0 0;
  padding: 0px 0px 0px 0px;
  width: 100%;
  height: 70px;
  line-height: 50px;
  font-size: 25px;
  display: flex;
  font-weight: 600 !important;
  justify-content: center;
  align-items: center;
  border-radius: 0px;
  color: white;
  cursor: pointer;
  &:hover {
    font-size: 30px;
    text-decoration:none;
    transition: .3s;
  }
}

#modal-projectNew-button, #modal-projectApply-button {
  text-align: right;
}

.user-card-img img {
  height: 200px;
  z-index: 2;
  position: absolute;
  top: 70px;
}

.user-card-icon img {
  height: 200px;
  position: absolute;
  top: 70px;
}
.dash-panel {
  width: 100%;
  flex-direction: column;
  align-items: flex-end;
}

.dash-content-card {
  margin: 0 40px 0 0;
  padding: 20px 0 20px 20px;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: right;
  background-color: white;
}

.user-card {
  margin: 0 40px 0 0;
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.engagement-tab-card {
  margin: 0 40px 0 0;
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.engagement-card-img {
  background: url(https://res.cloudinary.com/caitlinsnyder/image/upload/v1567695053/assignment2_lkixgn.png);
  margin: 0;
  padding: 0;
  width: 180px;
  height: 150px;
  border-radius: 50% 50% 50% 50%;
  flex-grow: 0;
  background-size: cover;
  background-position: center;
}

.user-card-img {
  margin: 0;
  padding: 0;
  width: 150px;
  height: 150px;
  flex-grow: 0;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
}

.user-card-text, .engagement-header-text {
  margin: 0;
  height: 130px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: right;
}

.user-card-text {
  padding: 0 0 0 20px;
  border-bottom: 5px solid $marigold;
}

.user-card-name, .user-card-header {
  padding: 0;
  font-size: 30px;
  color: $figma-gray;
}

.user-card-header {
  padding-bottom: 10px;
}

.user-card-title {
  padding: 0;
  font-size: 20px;
  font-weight: lighter;
  color: $figma-gray;
}

.user-card-email {
  padding: 0;
  font-size: 16px;
  color: $figma-gray;
}

.dash-social-links {
  padding: 0px 0 5px 0;
  display: flex;
  justify-content: space-around;
}

.dash-social-link {
  padding: 0 0 0px 10px;
  margin: 0;
  color: $marigold;
  font-size: 25px;
  cursor: pointer;
  &:hover {
    color: $teal;

  }
}

.profile-bookend-item, .engage-bookend-item {
  padding: 0px 18px 10px 15px;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  & a {
    color: $teal;
    font-weight: normal;
    font-size: 18px;
  }
  & a:hover {
    color: $marigold;

  }
}

.profile-bookend-item {
  margin: 40px 0 20px 0;
  border-right: $marigold 3px solid;
}

.bookend-title {
  margin: 0;
  padding: 2px 0 0px 0;
  font-size: 22px;
  font-weight:300;
  flex-grow: 0;
  color: $figma-gray;
  text-align: right;
}

.bookend-subtitle {
  margin: 0;
  padding: 2px 0 0px 0;
  font-size: 16px;
  flex-grow: 0;
  color: rgba(120,120,120, 1);
  text-align: right;
}

.bookend-content {
  padding: 5px 0 0 0;
  font-size: 12px;
  color: rgba(120,120,120, 1);
  text-align: right;
}

.dashboard-welcome-items{
  display: flex;
  flex-direction: column;
  align-items: center;
  position-top: 10px;
  position: absolute;
  top: 65px;
  left: 95px;
}

.dashboard-welcome {
  font-weight: 300 !important;
  font-size: 20px !important;
  color: white;
  margin-top: 25px;
  text-transform: uppercase;
  padding-bottom: 15px;

}


.dashboard-img{
  background: url(https://res.cloudinary.com/caitlinsnyder/image/upload/v1567086073/welcomeback_eaktec.jpg);
  margin: 0 0 20px 0;
  padding: 0;
  width: 100px;
  height: 100px;
  flex-grow: 0;
  background-size: cover;
  background-position: center;
  border-radius: 5px;

}
// .engament-icon{
//   margin: 0 40px 0 0;
//   width: 90%;
//   display: flex;
//   flex-direction: row;
//   align-items: center;
// }

// .engagement-icon-img {
//   margin: 0;
//   padding: 0;
//   width: 150px;
//   height: 150px;
//   flex-grow: 0;
//   background-size: cover;
//   background-position: center;
//   border-radius: 5px;
// }

.card-settings{
width: 90%;
padding-right: 20vh;
}

//
// .dash-card-nav {
//   margin: 0;
//   padding: 25px 0 0 25px;
//   flex-grow: 0;
// }
//
// .dash-panel-nav {
//   // margin: 0 20px 0 0;
//   // width: 50px;
//   padding: 0;
//   display: flex;
//   align-items: stretch;
// }
//
// .dash-nav-links {
//   margin: 0;
//   padding: 0 0 30px 0;
//   display: flex;
//   align-items: flex-start;
//   position: relative;
//   line-height: .5em;
//   &:hover {
//     cursor: pointer;//fix
//     color: $marigold;
//   }
// }
//
// .dash-nav-links > *:hover {
//   cursor: pointer;//fix
//   color: $marigold;
// }
//
// .dash-nav-links p {
//   padding: 0;
//   font-size: .30em;
//   color: $teal;
// }
//
// .dash-nav-links i {
//   padding: 0 1.5vw 0 0;
//   color: $teal;
//   font-size: .5em;
// }
//
// .dash-panel-content {
//   min-height: 70vh;
//   flex-grow: 1;
// }
//
// .dash-active {
//   display: flex;
// }
//
// .dash-inactive {
//   display: none;
// }
//
// .dash-container-row {
//   flex-grow: 1;
// }
//
// .dash-container-column {
//   flex-direction: column;
//   justify-content: space-around;
//   align-items: center;
//   flex-grow: 1;
// }
//
// // PROFILE
// .dash-square-cards {
//   display: flex;
//   flex-direction: column;
//   justify-content:space-around;
//   flex-grow: 0;
// }
//
// .dash-square-card {
//   margin: auto;
//   padding: 2vw;
//   height: 275px;
//   width: 285px;
//   flex-grow: 0;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content:center;
//   box-shadow: 1px 1px 1px rgba(200, 200, 200, 0.3);
//   background-color: rgba(255,255,255,0.8);
//   border-radius: 10px;
//   font-size: 15px;
//   text-align: center;
// }

//
//
// .dash-square-card-msg {
//   align-items: center;
//   justify-content: flex-start;
// }
//
// .dash-square-cards .spacer {
//   height: 20px;
// }
//
// .user-title {
//   color: grey;
//   font-size: 13px;
// }
//
// .dash-avatar {
//   padding: 0 0 1vw 0;
//   width: 6vw;
//   height: 6vw;
//   object-fit: cover;
//   border-radius: 60%;
// }
//
// .dash-social-links {
//   padding: 0px 0px 0 0;
//   font-size: 1.5em;
// }
//
// .dash-social-links a {
//   padding: 0px 5px;
// }
//
// .dash-stats-card {
//   margin: 0 0 0 20px;
//   padding: 30px 20px 20px 20px;
//   flex-grow: 1;
//   box-shadow: 1px 1px 1px rgba(200, 200, 200, 0.3);
//   font-size: 15px;
//   text-align: center;
//   border-radius: 10px;
//   background-color: rgba(255,255,255,0.8);
//   text-align: left;
// }
//
// // ENGAGEMENTS
// .card-engagement {
//   margin: 0 0 15px 0;
//   padding: 20px 20px 10px 20px;
//   width: 100%;
//   min-height: 80;
//   display: flex;
//   flex-direction: row;
//   justify-content: space-around;
//   align-items: flex-start;
//   box-shadow: 1px 1px 1px rgba(200, 200, 200, 0.3);
//   border-radius: 10px;
//   background-color: rgba(255,255,255,0.8);
//   // font-weight: 200;
// }
//
// .card-engagement-description {
//   padding: 0 15px;
// }
//
// .card-settings {
//   margin: 0;
//   padding: 30px 20px 20px 20px;
//   width: 100%;
//   min-height: 50vh;
//   display: flex;
//   flex-direction: column;
//   align-items: left;
//   text-align: center;
//   box-shadow: 1px 1px 1px rgba(200, 200, 200, 0.3);
//   border-radius: 10px;
// // }
//
// .btn-project {
//   margin: 0;
//   padding : 15px 0px;
//   width: 150px;
//   border-radius: 4px;
//   background-color: $teal;
//   -webkit-transition:
//       background-color 400ms ease, opacity 400ms ease, color 400ms ease;
//       transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease;
//   color: #fff;
//   font-size: 14px;
//   line-height: 20px;
//   letter-spacing: 2px;
//   // font-weight: 100;
//   text-align: center;
//
//   & :hover {
//     text-decoration: none;
//     color: #fff;
//   }
// }
//
//
// // RESPONSIVENESS
// // Smallest device
// @media (max-width: 575px) {
//   .dash-container {
//     font-size: 40px;
//   }
//   .dash-tab-container, .dash-container-row {
//     flex-direction: column;
//   }
//   .dash-panel-nav {
//     padding: 0 0 0 10px;
//     width: 80vw;
//     flex-direction: row;
//     justify-content: space-between;
//   }
//   .dash-stats-card, .dash-square-card {
//     width: 80vw;
//     margin: 10px auto;
//   }
//   .dash-card-nav {
//     padding: 20px 0 20px 0;
//   }
// }
// // Small devices (landscape phones, 401px and up)
// @media (min-width: 576px) and (max-width: 768px) {
//   .dash-container {
//     font-size: 40px;
//   }
//   .dash-tab-container, .dash-container-row {
//     flex-direction: column;
//   }
//   .dash-panel-nav {
//     margin: 0 auto;
//     width: 80vw;
//     flex-direction: row;
//     justify-content: space-between;
//   }
//   .dash-card-nav {
//     padding: 20px 0;
//   }
//   .dash-stats-card, .dash-square-card {
//     width: 80vw;
//     margin: 10px auto;
//   }
// }
// // Medium devices (tablets, 768px and up)
// @media (min-width: 769px) and (max-width: 991px) {
//   .dash-container {
//     font-size: 40px;
//   }
//   .dash-tab-container {
//     flex-direction: column;
//   }
//   .dash-container-row {
//     flex-direction: row;
//   }
//   .dash-panel-nav {
//     margin: 0 auto;
//     padding: 0 0 0 10px;
//     width: 80vw;
//     flex-direction: row;
//     justify-content: space-between;
//   }
//   .dash-card-nav {
//     padding: 20px 0;
//     flex-direction: column;
//   }
//   .dash-square-card {
//     width: 285px;
//   }
// }
// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) and (max-width: 1199px) {
//   .dash-container {
//     font-size: 50px;
//   }
//   .dash-tab-container, .dash-container-row {
//     flex-direction: row;
//   }
//   .dash-panel-nav {
//     flex-direction: column;
//     width: 190px;
//   }
// }
// // Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) {
//   .dash-container {
//     font-size: 60px;
//   }
//   .dash-tab-container, .dash-container-row {
//     flex-direction: row;
//   }
//   .dash-panel-nav {
//     flex-direction: column;
//     width: 190px;
//   }
// }
