.footer {
  padding: 0px 50px 50px auto;
  height: 100px;
  height: 2.5rem;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgba(0,0,0,0.3);
}

.footer-links {
  display: flex;
  align-items: center;
}

.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}

.footer-links a:hover {
  opacity: 1;
}

.footer .fa-heart {
  color: #D23333;
}

.footer-copyright {
  padding-right: 10px;
}
