.modal-nav-container {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
  background-color: $marigold;
}

.modal-nav-container button {
  color: white;
  background-color: $marigold;
  font-size: 20px;
  border: none;
  text-decoration: none;
  cursor: pointer;
}

.modal-nav-content {
  margin: 0 auto;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: white;
}

.modal-nav-links a {
  margin: 0;
  padding: 0;
  color: white;
}

.modal-nav-links:last-child {
  border-top: white 2px solid;
}


.modal-container {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content-container {
  margin: 10% auto;
  padding: 8vh 4vw 7vh 4vw;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: white;
  box-shadow: $box-shadow;
  border-radius: $border-radius;
  background-image: linear-gradient(
    rgba(255,255,255,0.6),
    rgba(255,255,255,0.6)),
    url(https://res.cloudinary.com/caitlinsnyder/image/upload/v1567086073/img5_fksiak.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.modal-content-container > * {
  font-size: inherit !important;
}

.modal-content-container h3 {
    padding: 0 0 5px 0;
    text-align: center;
}

.modal-submit-button {
  margin: 4vh auto 2vh auto;
  width: 100%;
}

#modal-signup-button {
  margin-top: 3vh;
}


// RESPONSIVENESS
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .modal-container {
    font-size: 40px;
  }
  .modal-content-container {
    width: 80vw;
  }
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .modal-container {
    font-size: 40px;
  }
  .modal-content-container {
    width: 80vw;
  }
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .modal-container {
    font-size: 40px;
  }
  .modal-content-container {
    width: 50vw;
  }
}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .modal-container {
    font-size: 40px;
  }
  .modal-content-container {
    width: 50vw;
  }
}
