.navbar-lewagon {
  justify-content: space-between;
  align-items: center;
  background: white;
  height: 65px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 80px;
}


.dropdown-menu {
  border: 0px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

.dropdown-item {
  padding: 5px 0px 8px 15px;
}
// +++++++++++++++++++++++++SEARCH BAR++++++++++++++++++++++++++++++++

css code:
.login {
  display: inline-block;
  margin-left: 450px;
}


