
#hamburger-nav {
  font-size: 35px;
  color: white;
  text-shadow: 2px 2px 2px rgba(250,250,250,.2);
}

#hamburger-icon {
  // padding: 0px 10px 5px 10px;
  color: white;
  font-size: 30px;
  cursor: pointer;
}

.user-nav {
  margin: 0 auto;
  padding: 3vh 0 0 3vh;
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.site-name {
  margin: 0 auto;
  padding: 0vh 0 0 3vh;
  font-size: 13px;
  font-weight: lighter;
  color: white;
}



#global-navbar {
  margin: 0;
  padding: 0 25px 0 15px;
  height: 65px;
  width: 100vw;
  z-index: 1;
  position: fixed;
  overflow: hidden;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: white;
  box-shadow: $box-shadow;
}

.logo-group{
  display:flex;
  padding-right: 10px;
  justify-content:space-between;
}
.logo-text{
  font-weight: 700;
  font-size: 25px;
  padding-top:15px;
  color: #333D51;
}

  #nav-logo-link {
    flex-grow: 0;
  }
  // #nav-logo-link {


  #nav-logo-link img {
    flex-grow: 0;
    width: 80px;
  }

.nav-center-items {

  display: flex;
  direction: row;
}

.nav-right-items {
  display: flex;
  direction: row;
  justify-content: right;
  align-items: center;
  flex-grow: 0;
}


// .dropdown-menu {
//   border: 0px;
//   box-shadow: 0 2px 6px rgba(0,0,0,0.08);
// }

// .dropdown-item {
//   padding: 5px 0px 8px 15px;
// }


//
// .dropdown-menu {
//   border: 0px;
//   box-shadow: 0 2px 6px rgba(0,0,0,0.08);
// }
//
// .dropdown-item {
//   padding: 5px 0px 8px 15px;
// }

#nav-user-avatar {
  padding: 0px 10px 5px 10px;
  color: white;
  font-size: 30px;
  cursor: pointer;
}


// #hamburger-menu, #nav-user-menu {
//   display: none;
//   position: fixed;
//   top: 60px;
//   padding: 7px 0 7px 0px;
//   box-shadow: 0 2px 6px rgba(0,0,0,0.1);
//   background-color: white;
//   font-size: 15px;
//   color: rgb(80,80,80);
//   z-index: 1;
// }

// #hamburger-menu {
//   width: 120px;
//   right: 80px;
// }

// #nav-user-menu {
//   width: 150px;
//   right: 20px;
// }

// .nav-menu-link {
//   padding: 0px 0 0px 10px;
// }
//
// .nav-menu-link:hover {
//   background-color: red;
// }
//
// .nav-link {
//   color: $deep-gray;
//   &:hover {
//     color: $deep-gray;
//   }
// }


.fa-search{
  color:$marigold;
  font-size: 25px;

}

.btn-default{
  padding: 0px 0px  2px 5px;
  margin:0px 0px  0px 0px;
}

#convo-icon, #nav-user-avatar {
  padding: 0px 10px 3px 10px;
  color: $marigold;
  font-size: 30px;
  cursor: pointer;
}

#convo-menu, #nav-user-menu {
  display: none;
  position: fixed;
  top: 60px;
  padding: 7px 0 7px 0px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  background-color: white;
  font-size: 15px;
  color: rgb(80,80,80);
  z-index: 2;
}

#convo-menu {
  width: 120px;
  right: 80px;
}
