.welcome-msg{
  color: white !important;
  text-align: left;
  font-weight: 300;
  font-size: 30px;
  margin-bottom: 40px;
}
.nav-search-container {
  margin: 10px auto;
  padding: 0 40px 15px 0px;
  width: 28vw;
  height: 80vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

.search-label {
  font-size: .35em;
  color: white;
  font-weight: lighter;
}

.search-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 0 30px 0;
}

.nav-search-field {
  margin: 5px 5px 0 0;
  padding: 7px 7px 7px 16px;
  width: 25vw;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  background: white;
  border: $marigold-trans-2 solid 2px;
  border-radius: 20px;

  font-weight: lighter;
  color: rgba(120,120,120,0.5);
}

.nav-search-field:focus {
  color: rgba(80,80,80,1);
  box-shadow: none;
  border: $marigold-trans-2 solid 2px;
  outline: $marigold solid 0px;;
  font-style: normal;
  font-weight: normal;
}

.white-icon {
  color: white;
  padding: 10px 0 0 5px;

}

.marigold-icon {
  color: $marigold;
  padding: 10px 0 0 5px;
}

.search-results-height {
  padding-top: 20px;
  padding-bottom: 50vh;
}

.search-results {
  margin-right: 40px;
  padding-left: 0;
  height: 60vh;
  display: flex;
  flex-direction: column;
}


.white-logo-dash{
  color: white;
  font-size: 25px;
  font-weight: 600;
  position: absolute;
  bottom: 15px;
  left: -20px;
}

.white-logo{
  color: white;
  font-size: 25px;
  font-weight: 600;
  position: absolute;
  bottom: -150px;
  left: -30px;
}

.dash-buttons-group{
  border-radius: 30px;

  padding-right: 10px;
  padding-top: 125px;
  padding-bottom: 0px;
}
