
.tabordion input[name="sections"]:checked + label {
background-color: #E1F3FD;
}

.tabordion input[name="sections"]:checked ~ article {
  display: block;
}


  .tabordion {
    width: 100%;

  }

  .tabordion section label {
     background-color: white;
    font-size: 20px;
    margin: 15px 40px;


  }

 .tabordion section article {

    min-width: 270px;

  }

  .tabordion section article::after {
   background-color: white;
    padding-top: 20px;
    bottom: 0;
    content: "";
    display: block;
    left:-199px;
    position: absolute;
    top: 0;
    border-radius: 20px;

  }


.dash{
font-weight: 200;
}

.tab-icons{
  color: #0B2D50;
}

.fa{
  color:  #0B2D50;
}

p.tab-title {
  margin:  0;
}

label.tab-icons.fa {
  display:flex;
  align-content: flex-start;
}

/* ***********************************************************
***************************CARD PROFILE******************************** */
.card-profile {
  background-color: white;
  padding-top: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  min-width: 300px;
  height: 300px;
  font-size: 15px;
  text-align: center;
  border-radius: 10px;
  margin-left: 10px;
}

.user-title {
  color: grey;
  font-size: 13px;
}


a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

.avatar-dash{
  object-fit: cover;
  border-radius: 60%;
  width: 120px;
  height: 120px;
}




/*
*****************************************************
********************Card STATS************************* */


.card-stats {
  padding-top: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  width: 630px;
  font-size: 15px;
  text-align: center;
  border-radius: 10px;
  margin-left: 20px;
  background-color: white;
  height: 615px;
}

.profile-elements{
display: flex;
align-items: flex-start;
background-color: white;
padding: 15px 15px 15px 15px;
border-radius: 10px;
width: 1000px;
margin-bottom: 50px;
}

.engagement-elements{
background-color: white;
padding: 15px 25px 25px 15px;
border-radius: 10px;

}


.bs-callout {
  margin-left: 15px;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: white;
    -webkit-border-image: none;
    -o-border-image: none;
    border-image: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px 1px 1px 4px;
    margin-bottom: 7px;

  }
.bs-callout-danger {
    border-left-color: #f8c959;
}

.profile-content{
  background-color: white;
  padding-right: 10px;
  padding-left: 5px;
  margin-left: 5px;
}


.card-engagement{
  background-color: white;
  padding-top: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  padding-left: 0;
  margin-bottom: 20px;
  padding: 10px 10px;
  border-radius: 10px;
  width: 940px;
  font-weight: 200;
}

.btnproject{
   margin-left: 1px ;
  padding : 5px 5px;
  border-radius: 4px;
  background-color: #3f9bab;
  -webkit-transition: background-color 400ms ease, opacity 400ms ease,color 400ms ease;
  transition: background-color 400ms ease, opcaity 400ms ease, color 400ms ease;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-decoration:none;
  font-family: Montsserat, sans-serif;
  font-weight: 100;
  text-align: center;
}

.card-engagement.card-3{
  display: inline-flex;
}

.small-cards{
  flex-direction: column;
  justify-content:space-evenly;
}

.card-chat{
  margin-top: 15px;
  background-color: white;
  padding-top: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  min-width: 300px;
  height: 300px;
  font-size: 15px;
  text-align: center;
  border-radius: 10px;
  margin-left: 10px;
}
